.content_header
{
    display:inline-flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-between;
    margin: 1em 0;
}

.content_header div
{
    background: #efefef;
    margin: 0 .5em;
    padding: 0 .5em
}

.header a {
    display: block;
    height: 30%;
    padding-left:280px;
    padding-top:50px;
    width: auto;
    color: #eaeaea;
}

.image-link {
    display: block;
    width: auto;
    height: auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

body {
    color: #5d5d5d;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
}